/* header styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
body{
    padding-top: 80px;
}

.fa-house {
    font-size: 30px;
    color: white;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px 45px;
    
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    transition: all 1s ease;

}


li {
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins';
}


li a:hover {
    color: white;
}

.navigation { 
    margin-left: 50px;
}

/* footer styles */

footer{
    width: 100%;
    background-color: black;
    padding: 20px 45px;
}

.footer-wrapper {
    padding: 20px;
}

.symbols {
    display: flex;
    justify-content: center;
    gap: 15em;
}

.fa-facebook, .fa-instagram, .fa-twitter {
    color: white;
    font-size: 35px;

}

.banner {
    background-image: url(../image/banner.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}