/* header styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}
body{
    padding-top: 80px;
}

.fa-house {
    font-size: 30px;
    color: white;
}

.fa-chevron-down {
    font-size: 15px;
    color: #FFF;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 25px 25px;
    
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    transition: all 1s ease;

}


li {
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins';
}


li a:hover {
    color: white;
}

.navigation { 
    margin-left: 50px;
}


.project-window.pro-active {
    display: block;
}

/* footer styles */

footer{
    width: 100%;
    background-color: black;
    padding: 20px 45px;
}

.footer-wrapper {
    padding: 20px;
}

.symbols {
    display: flex;
    justify-content: center;
    gap: 15em;
}

.fa-facebook, .fa-instagram, .fa-twitter {
    color: #10d4ce;
    font-size: 25px;
    cursor: pointer;

}

.banner {
    background-image: url(../Image/banner.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/* burger style */

.burger {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    display: none;
}

.navigation.active {
    display: block;
}

/* animation burger styles */

.toggle-menu {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    /* background-color: black; */
    display: none;
    cursor: pointer;
    
}

.line {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all 0.3s ease;
}

.line1 {
    top: 25%;
}

.line3 {
    top: 75%;
}

.active-burger .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.active-burger .line2 {
    display: none;
}

.active-burger .line3 {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* Project and work */

.project-window {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(65, 63, 63);
    display: none;
    box-shadow: 4px 4px 7px #6a7272;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
   
    
     

}

.project-wrapper {
    position: relative;
    display: flex;
    padding: 35px;
    
    
    
}
.project1 {
    font-family: 'Poppins';
    position: absolute;
    top: 50%;
    left: 350px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    
}

.project1:hover {
    color:#10d4ce;
}
.project2 {
    font-family: 'Poppins';
    position: absolute;
    top: 50%;
    left: 850px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.project2:hover{
    color:#10d4ce;
}

.portofio {
    color: #10d4ce;
    
}
.portofio:hover{
    color: #fff;
}

.work-window {
    width: 100%;
    background-color: rgb(65, 63, 63);
    height: 200px;
    display: none;
    box-shadow: 4px 4px 7px #6a7272;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.work-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
}
.work-class {
    font-family: 'Poppins';
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    
}
.work-class:hover{
    color:#10d4ce;
}

.work-window.work-active{
    display: block;
    
}

/* photo carusel */

.photo-wrapper {
    position: relative;
    background-color: #FFF;
}

.slide {
    width: 100%;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: contain;
}

.arrows {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    font-size: 30px;
    border: none;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.fa-chevron-left{
    font-size: 25px;
}
.fa-chevron-right{
    font-size: 25px;
}

.arrow-left {
    position: absolute;
    left: 130px;
}

.arrow-right {
    right: 130px;
}

.slider-title {
    position: absolute;
    top: 20px;
    right: 20px;
    
}

.slider-content {
    font-family: 'Poppins';
    font-size: 30px;
    color: #067a77;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 18px;
    
}

.dotChild {
    width: 15px;
    height: 15px;
    background-color: rgb(65, 61, 61);
    border-radius: 50%;
    margin: 8px;
    cursor: pointer;
}

.dotChild.active-dot{
    background-color: #08837f;
    border: 1px solid white;
}
.dotsPerent {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

/* form validation styles */

.form-wrapper{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

.h2{
    font-family: 'Poppins';
    font-size: 35px;
    letter-spacing: 18px;
    text-align: center;
    margin-top: 35px;
    color: #08837f;
    text-transform: uppercase;
}

.username-style, .email-style, .password-style, .radio-checkbox {
    margin-bottom: 25px;
    font-family: 'Poppins';
    font-size: 20px;
    color: #067a77;
    text-align: left;
    
}

#username, #email, #passw, #passw2 {
    width: 250px;
    border-radius: 5px;
    outline-color: #087e7a;
    border: 2px solid #067a77
}
.label-username{
    margin-right: 85px;
}
.label-email{
    margin-right: 135px;
}
.label-passw1{
    margin-right: 95px;
}
.label-passw2{
    margin-right: 15px;
}
.form-button{
    font-family: 'Poppins';
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    background-color: #067a77;
    color: #fff;
    font-size: 20px;
    border: none;
}

.error-text{
    color: red;
    font-size: 14px;
    margin-top: 10px;
    text-transform: uppercase;
}

/* show & Hide styles */
.showhide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
    
    
}
#showihideicon{
    width: 250px;
    border-radius: 5px;
    outline-color: #087e7a;
    border: 2px solid #067a77;
}
#showihideicon::placeholder{
    color: #658f8f;
    font-style: italic;
}

.showicon {
    font-family: 'Poppins';
    font-size: 15px;
    color: #08837f;
    text-transform: uppercase;
    margin-right: 75px;

}

.fa-eye, .fa-eye-slash {
    color: #067a77;
    margin-left: 15px;
    cursor: pointer;
}
.placeholder-style::placeholder{
    color: #658f8f;
    font-style: italic;
    
    
}

/* email validation style */

.email-style{
    position: relative;
    
}

.email-margin {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

#form-email-validation.invalid .email-style::before{
    content: '\2612';
    position: absolute;
    right: 5px;
    top: 2px;
}

#form-email-validation.valid .email-style::before{
    content: '\2611';
    position: absolute;
    right: 5px;
    top: 2px;
}

.email-span{
    font-size: 15px;
    margin-top: 10px;
}



#email {
    width: 250px;
    border-radius: 5px;
    outline-color: #087e7a;
    border: 2px solid #067a77;
    
}

.email-send{
    font-family: 'Poppins';
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
    background-color: #067a77;
    color: #fff;
    font-size: 15px;
    border: none;
}

/* req. & resp. server styles */

.posts {
    font-family: 'Poppins';
    text-transform: uppercase;
    max-width: 650px;
    width: 100%;
    background-color: #337774;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 15px;
    color:#FFF;
    font-style: italic;
    position: relative;
    z-index: 2;
    
}



.post-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
    
    
    
}

.server-title {
    font-family: 'Poppins';
    text-transform: uppercase;
    margin-top: 70px;
    text-align: center;
    color:#067a77;
    font-size: 25px;
    margin-bottom: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    width: 70%;
    height: 50%;
    background-color: #264241;
    border-radius: 25px;
    display: none;
    z-index: 3;
    box-shadow: 4px 4px 7px #6a7272;
    

}
.overlay.active {
    display:  block;
    
}

.overlay-close {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 30px;
    color:#FFF;
    cursor: pointer;
    
}

.overlay-button {
    font-family: 'Poppins';
    position: absolute;
    right: 7px;
    bottom: 7px;
    color:  #073836;
    font-size: 12px;
    border-radius: 15px;
    border: 1px solid #0c5c59;
    cursor: pointer;
}



.gotdata-body {
    font-family: 'Poppins';
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 20px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

