/* header styles */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

}
body{
    padding-top: 80px;
}

.fa-house {
    font-size: 30px;
    color: white;
}

.fa-chevron-down {
    font-size: 15px;
    color: #FFF;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 25px 25px;
    
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    transition: all 1s ease;

}


li {
    cursor: pointer;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins';
}


li a:hover {
    color: white;
}

.navigation { 
    margin-left: 50px;
}


.project-window.pro-active {
    display: block;
}

/* footer styles */

footer{
    width: 100%;
    background-color: black;
    padding: 20px 45px;
}

.footer-wrapper {
    padding: 20px;
}

.symbols {
    display: flex;
    justify-content: center;
    gap: 15em;
}

.fa-facebook, .fa-instagram, .fa-twitter {
    color: #10d4ce;
    font-size: 25px;
    cursor: pointer;

}

.banner {
    background-image: url(../Image/banner.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

/* burger style */

.burger {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    display: none;
}

.navigation.active {
    display: block;
}

/* animation burger styles */

.toggle-menu {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    /* background-color: black; */
    display: none;
    cursor: pointer;
    
}

.line {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: all 0.3s ease;
}

.line1 {
    top: 25%;
}

.line3 {
    top: 75%;
}

.active-burger .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.active-burger .line2 {
    display: none;
}

.active-burger .line3 {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* Project and work */

.project-window {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(65, 63, 63);
    display: none;
   
    
     

}

.project-wrapper {
    position: relative;
    display: flex;
    padding: 35px;
    
    
    
}
.project1 {
    font-family: 'Poppins';
    position: absolute;
    top: 50%;
    left: 350px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    
}

.project1:hover {
    color:#10d4ce;
}
.project2 {
    font-family: 'Poppins';
    position: absolute;
    top: 50%;
    left: 850px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.project2:hover{
    color:#10d4ce;
}

.portofio {
    color: #10d4ce;
}
.portofio:hover{
    color: #fff;
}

.work-window {
    width: 100%;
    background-color: rgb(65, 63, 63);
    height: 200px;
    display: none;
}

.work-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    
}
.work-class {
    font-family: 'Poppins';
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    
}
.work-class:hover{
    color:#10d4ce;
}

.work-window.work-active{
    display: block;
    
}

/* photo carusel */

.photo-wrapper {
    position: relative;
    background-color: #FFF;
    /* width: 100%;
    height: 10; */
}

.slide {
    width: 100%;
}

.slide img {
    width: 100%;
    object-fit: cover;
}

/* .slider-content {
    position: relative;
} */

.arrows {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    font-size: 30px;
    border: none;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow-left {
    position: absolute;
    left: 30px;
}

.arrow-right {
    right: 30px;
}

.slider-title {
    position: absolute;
    top: 20px;
    right: 20px;
}